.cart-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.cart-item {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
}

.cart-item h3 {
  margin: 10px 0;
}

.cart-item p {
  margin: 5px 0;
  font-size: 18px;
  color: #333;
}

.cart-item button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cart-item button:hover {
  background-color: #ff4500;
}

.order-now-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 18px;
  margin-top: 20px;
}

.order-now-button:hover {
  background-color: #218838;
}
