/* src/pages/Home.css */

.home-container {
  background-repeat: no-repeat;
  background-image: url('../images/disposable-cup-rise-and-grind-4.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: left center;
  height: 100vh; /* Ensure full viewport height */
  width: 100%; /* Ensure full viewport width */
  display: flex;
  justify-content: center; 
  align-items: center;
   color: white;
  text-align: center;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}


.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px; /* Adjust the size as needed */
  height: auto;
  z-index: 1000; /* Ensure it's above other content */
}

.home-content {
  position: absolute;
  top: 30%;
  left: 12%;
  max-width: 800px;
  padding: 2rem;
}

.home-content h1, .home-content p {
  overflow: hidden; /* Ensures the content is hidden */
  white-space: nowrap; /* Prevents text wrapping */
  animation: zoomIn 1s forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.5rem;
}

.bottom-center-image {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  width: 170px; /* Adjust the size as needed */
  height: auto;
}

.section-2 {
  position: relative;
  width: 100%;
  height: 192vh; /* Full viewport height */
  background: url('../images/Home-Section-2-bg.jpg') no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.section-2-content {
  color: black;
  max-width: 800px;
  padding: 20px;
  text-align: center; /* Center-align content */
  position: absolute; /* Ensure absolute positioning */
  z-index: 1; /* Ensure content is above the background */
  top: 14%; /* Adjust top positioning */
  transform: translateY(-50%); /* Center vertically */
}

.section-2-content>#intro{
  font-size: large;
}

/* Vertical line image styles */
.vertical-line {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px; /* Width of the image */
  height: 50px; /* Adjust the height as needed */
  z-index: 2; /* Ensure the line is above the content */
}

.vertical-line-2 {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px; /* Width of the image */
  height: 50px; /* Adjust the height as needed */
  z-index: 2; /* Ensure the line is above the content */
}

.about-section{
  position: absolute;
  top:28%;
  left:52%;
  background-color: rgba(235, 235, 235);
  color: #1a1a1a;
  width:500px;
  text-align: left;
  padding: 20px 30px 20px 30px;
}

.about-section a{
  font-size: 1.2rem;
  color:#1a1a1a
}

.aboutUS{
  position: absolute;
  top: 28%;
  left:11%;
  width: 590px;
}

.menu-section{
  position: absolute;
  top:80%;
  left:11%;
  background-color: rgba(235, 235, 235);
  color: #1a1a1a;
  width:500px;
  text-align: left;
  padding: 20px 30px 20px 30px;
}

.menu-section a{
  font-size: 1.2rem;
  color:#1a1a1a;
}

.menuIMG{
  position: absolute;
  top: 54%;
  left:53%;
  width: 590px;
}

.WhatWeSell{
  position: relative;
  width: 100%;
  height: 80vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.wws-heading{
  position: absolute;
  top:13%;
  font-size: 3rem;
  color:#1a1a1a;
}

.separator-holder{
  display: inline-block;  /* Ensures the span takes up only the necessary width */
  width: 200px;            /* Set the width of the line */
  height: 0.7px;            /* Set the height (thickness) of the line */
  background-color: #DDA552; /* Set the color of the line */
  margin: 15px auto; 
}

.separator-left{
  position: relative;
  margin-right: 30px;
}

.separator-right{
  position: relative;
  margin-left: 30px;
}

.fItems{
  position: absolute;
  top:30%;
  display: flex;
  width: 1350px;
  justify-content: space-evenly; 
  align-items: center;
  text-align: center;
}

.fItem{
  border-radius: 50%;
  width:175px;
}

.fItems h3{
  font-size: 1.8rem;
  font-weight: 400;
  color:#DDA552;
  margin-bottom: 0;
}

.fItems p{
  width: 190px;
  font-size: 1rem;
  font-weight: 400;
  color:#1a1a1a;
}

.location{
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blackBG{
  position: absolute;
  z-index: 0;
  top:10%;
  left: 0%;
  background-color: black;
  width:80%;
  height: 79%;
}

.location-content{
  position: absolute;
  top:7%;
  left:12%;
  width:350px;
  text-align: left;
}

.location-content h2{
  color:#ffffff;
  font-size: 2.5rem;
}

.location-content h3{
  color:#ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}

.opening-hours{
  position: absolute;
  top:45%;
  left:12%;
  width:500px;
  text-align: left;
}

.opening-hours h2{
  color:#ffffff;
  font-size: 2.5rem;
}

.opening-hours h3{
  color:#ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}

.locationIMG{
  position: absolute;
  z-index: 1;
  left:48%;
  height: 50%;
  width:45%;
}

.social-media{
  background: url('../images/menu-bg.jpg') no-repeat center center/cover;
  position: relative;
  height: 210vh; /* Ensure full viewport height */
  width: 100%; /* Ensure full viewport width */
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #1a1a1a;
  text-align: center;
}

.sm-heading{
  position: absolute;
  top:1%;
  font-size: 3rem;
  color:#1a1a1a;
}

.social-media p{
  color: #B4B5BB;
  font-size: 1.5rem;
}

.grid-container {
  position: absolute;
  top: 12%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Creates 3 equal columns */
  grid-gap: 1%;  /* Adjusts the spacing between the grid items */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-item img {
  width: 380px;
  height: 380px;
  object-fit: cover;  /* Ensures the images cover the grid item space */
}

.happy-clients{
  background: url('../images/happy-clients-bg.jpg') no-repeat center center/cover;
  position: relative;
  left: 7%;
  height: 95vh; /* Ensure full viewport height */
  width: 85%; /* Ensure full viewport width */
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #1a1a1a;
  text-align: center;
}

.cards{
  position: absolute;
  top:62%;
  display: flex;
  width: 80%;
  justify-content: space-evenly; 
  align-items: center;
  text-align: center;
}

.card{
  gap: 2%;
  border-radius: 3%;
  background-color: white;
  width:18%;
}

.hc-heading{
  position: absolute;
  top:5%;
  font-size: 3rem;
  color:white;
}

.rating{
  position: absolute;
  top:25%;
  font-size: 1.5rem;
  font-weight: 600;
  color:white;
}

.stars{
  display: flex;
  position: absolute;
  top:34%;
  border-radius: 13px;
}
.review-text{
  position: absolute;
  top:40%;
  color: white;
}

.contact-us{
  position: relative;
  width: 100%;
  height: 80vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.contact-content{
  position: absolute;
  top:20%;
  left:10%;
  width:40%;
  text-align: left;
}

.contact-content h5{
  font-size: 2rem;
  margin-bottom: 5%;
  margin-top: 0%;
}

.contact-side-image{
  position: absolute;
  width: 40%;
  top:20%;
  height:60%;
  left:50%;
}